.row
	%div{class: 'col-lg-12 heading'}
		%div{class: 'col-lg-6 col-md-6 col-sm-6 col-xs-12'}
			%h1.page-header
				%i.ec-pencil
				Issue details
		%div{class: 'col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right mt15'}
			= link_to 'Edit issue', edit_issue_path(@issue), class: 'btn btn-primary'

.row
	.col-lg-12
		%div{class: 'panel panel-default'}
			.panel-heading
				%h4.panel-title
					%strong= @issue.title
					%small (#{issue_duration(@issue)})
					= show_issue_status(@issue)
			.panel-body
				%p= @issue.message
				%p
					%i by #{@issue.tenant.full_name}
				%p
					%i Apartment: #{@issue.tenant.apartment}
				%p
					%i Address: #{@issue.tenant.building.full_address}

				%hr
				.row
					%div{class: 'col-lg-6 col-md-6 col-sm-6 col-xs-12'}
						%p Comments: #{@comments.count}
						Created at: #{@issue.created_at}
					- if current_tenant && @issue.status != 'done'
						%div{class: 'col-lg-6 col-md-6 col-sm-6 col-xs-12'}
							.row
								= form_for @issue, html: {class: 'form-group'} do |f|
									%div{class: 'col-lg-6 col-md-6'}
										= f.select :status, Issue.statuses, {}, {class: 'form-control input-medium'}
										%span.help-block issue status
									%div{class: 'col-lg-6 col-md-6 text-right'}
										= f.submit "Update status", class: 'btn btn-primary'

- if @issue.rating != nil
	.row
		.col-lg-12
			.text-center
				%h4.color-blue
					Rating: #{@issue.rating}
					%small (out of 5)
	%br
- elsif @issue.status == 'done'
	.row
		.col-lg-12
			= form_for @issue, html: {class: 'form-horizontal'} do |f|
				.form-group{class: 'text-center'}
					%h3 Please rate the service
				.form-group{class: 'text-center'}
					- 5.times do |i|
						= f.label i+1
						= f.radio_button :rating, i+1
				.form-group{class: 'text-center'}
					= f.submit "Rate!", class: 'btn btn-s btn-primary'
	%br

.row
	.col-lg-12
		%div{class: 'panel-footer white-bg'}
			%h4 New comment:
			= form_for [@issue, @issue.comments.build], html: {class: 'form-horizontal'} do |f|
				%div{class: 'form-group relative'}
					= f.text_area :message, class: 'form-control elastic', rows: 3, autofocus: true
					%div{class: 'pull-right mt10'}
						= f.submit 'Send comment', class: 'btn btn-primary'

.row
	.col-lg-12
		%div{class: 'panel panel-primary'}
			.panel-heading
				%h4.panel-title
					%i.ec-chat
					Comments
			%div{class: 'panel-body p0'}
				%ul{class: 'chat-ui chat-messages chat-widget'}
					= render @comments
