- content_for :sidebar do

	%li
		= link_to managers_path do
			Home
			%i.ec-user

	%li
		= link_to edit_manager_registration_path do
			Edit my profile
			%i.ec-cog

	%li
		= link_to	managers_buildings_path do
			My Buildings
			%i.ec-contract

	%li
		= link_to new_managers_building_path do
			Add building
			%i.ec-contract

	%li
		= link_to do #issue_path do
			My issues
			%i.ec-list
