/ %li
/   = link_to do
/     Me
/     %i.ec-user

/ %li
/   = link_to do
/     Edit my profile
/     %i.ec-cog

/ %li
/   = link_to do
/     Change building
/     %i.ec-contract

/ %li
/   = link_to do
/     My issues
/     %i.ec-list
= render 'navbar'
= render 'sidebar'
.row
  / Start .row
  / Start .page-header
  .col-lg-12.heading
    %h1.page-header
      %i.im-screen
      Dashboard
    / Start .bredcrumb
    %ul#crumb.breadcrumb
      %li
        %i.im-home
        %a{href: "index.html"} Home
        %i.en-arrow-right7
      %li
        %i.im-screen
        Dashboard
        .row
  / Start .row
  / st-settings
.row
  %div{class: 'col-lg-2 col-md-4 col-sm-6 col-xs-12'}
    %div{class: 'tile-stats b brall mb25'}
      = link_to '' do
        .tile-stats-icon
          %i{class: 'im-alarm2 color-red'}
        .tile-stats-content
          .tile-stats-number= @manager.no_of_new_issues
          .tile-stats-text New Issues
        .clearfix
  %div{class: 'col-lg-2 col-md-4 col-sm-6 col-xs-12'}
    %div{class: 'tile-stats b brall mb25'}
      = link_to '' do
        .tile-stats-icon
          %i{class: 'ec-info color-red'}
        .tile-stats-content
          .tile-stats-number #{@manager.avg_time_for_completion} days
          .tile-stats-text Average Rsponse Time
        .clearfix
  %div{class: 'col-lg-2 col-md-4 col-sm-6 col-xs-12'}
    %div{class: 'tile-stats b brall mb25'}
      = link_to '' do
        .tile-stats-icon
          %i{class: 'ec-clock color-teal'}
        .tile-stats-content
          .tile-stats-number=@manager.avg_rating
          .tile-stats-text Average Rating
        .clearfix


#spr_1.panel.panel-primary.panelMove.toggle.panelRefresh.panelClose
  / Start .panel
  .panel-heading
    %h4.panel-title Latest Issues
    .panel-controls.panel-controls-hide{style: "display: none;"}
      %a.panel-refresh{href: "#"}
        %i.im-spinner6
      %a.toggle.panel-minimize{href: "#"}
        %i.im-minus
      %a.panel-close{href: "#"}
        %i.im-close
  .panel-body
    %code
      - @issues.each do |issue|
        %br
        %b Title
        = issue.title
        %br
        %b Message
        = issue.message
        %br
        %b Tenant
        = issue.tenant.full_name
        %br
        %b Apartment
        = issue.tenant.apartment
        %br
        %hr


  / %div{class: 'col-lg-2 col-md-4 col-sm-6 col-xs-12'}
  /   %div{class: 'tile-stats b brall mb25'}
  /     = link_to '' do
  /       .tile-stats-icon
  /         %i{class: 'ec-clock color-teal'}
  /       .tile-stats-content
  /         .tile-stats-number=@manager.avg_rating
  /         .tile-stats-text Average Rating
  /       .clearfix


  / .row
  / / Start .row
  / .col-lg-3.col-md-3.col-sm-6.col-xs-12
  /   .carousel-tile.carousel.vertical.slide
  /     .carousel-inner
  /       .item.active
  /         .tile.red
  /           .tile-content
  /             = @manager.issues.count
  /             %b Total Issues
  / .col-lg-3.col-md-3.col-sm-6.col-xs-12
  /   .carousel-tile.carousel.slide
  /     .carousel-inner
  /       .item.next.left
  /         .tile.blue
  /           .tile-content
  /             = @manager.comments.count
  /             %b Total Comments
  /       .item.active.left
  /         .tile.brown
  /           .tile-content
  /   / End Carousel
  / .col-lg-3.col-md-3.col-sm-6.col-xs-12
  /   .carousel-tile.carousel.vertical.slide
  /     .carousel-inner
  /       .item.active
  /         .tile.green
  /           .tile-content
  /             = @manager.no_of_new_issues
  /             %b New issues

  / .col-lg-3.col-md-3.col-sm-6.col-xs-12
  /   .carousel-tile.carousel.slide
  /     .carousel-inner
  /       .item.next.left
  /         .tile.teal
  /           / tile start here
  /           / .tile-icon
  /           /   %i.ec-images.s64
  /           .tile-content
  /             %b Completion time:
  /             = @manager.avg_time_for_completion
  /             %b Days
  /       .item.active.left
  /         .tile.magenta
  /           / tile start here
  /           .tile-icon
  /             %i.ec-share.s64
  /           .tile-content
  /             = @manager.avg_time_for_completion
  /             %h3 New images
