
/ %h1 New building
/ = form_for @building do |f|

/ 	= f.label :street
/ 	%br
/ 	= f.text_field :street
/ 	%br
/ 	%br
/ 	= f.label :postal_code
/ 	%br
/ 	= f.text_field :postal_code
/ 	%br
/ 	%br
/ 	= f.label :city
/ 	%br
/ 	= f.text_field :city
/ 	%br
/ 	%br
/ 	= f.label :country
/ 	%br
/ 	= f.text_field :country
/ 	%br
/ 	%br
/ 	= f.submit

.row
	%div{class: "col-lg-12 heading"}
		%h1.page-header
			%i.ec-list
			Add a Building

.row
	.col-lg-12
		%div{class: "panel panel-default toggle"}
			.panel-heading
				%h3.panel-title

			.panel-body
				= form_for [:managers, current_manager.buildings.new], html: {class: "form-horizontal group-border hover-stripped", role: "form"} do |f|
					.form-group
						= f.label :street, class: "col-lg-2 col-md-2 col-sm-12 control-label"
						%div{class: "col-lg-10 col-md-10"}
							= f.text_field :street, class: 'form-control', placeholder: 'Enter street name'
					.form-group
						= f.label :city, class: "col-lg-2 col-md-2 col-sm-12 control-label"
						%div{class: "col-lg-10 col-md-10"}
							= f.text_field :city, class: 'form-control', placeholder: 'Enter City'
					.form-group
						= f.label :postal_code, class: "col-lg-2 col-md-2 col-sm-12 control-label"
						%div{class: "col-lg-10 col-md-10"}
							= f.text_field :postal_code, class: 'form-control', placeholder: 'Enter Postal Code'
					.form-group
						= f.label :country, class: "col-lg-2 col-md-2 col-sm-12 control-label"
						%div{class: "col-lg-10 col-md-10"}
							= f.text_field :country, class: 'form-control', placeholder: 'Enter Country'
					.form-group
						%div{class: 'col-lg-6 col-md-6 col-sm-6 col-xs-12'}
							= link_to 'Edit password or email', managers_path, class: 'btn btn-info'
						%div{class: 'col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right'}
							= f.submit 'Save Building', class: 'btn btn-primary'
