%b Company
= @building.company.first_name
%br
%b Manager
= @building.manager.first_name
%br
%b Building Address:
= @building.street
%br
= @building.postal_code
%br
= @building.city
%br
= @building.country
%br
%br
- @building.tenants.each do |tenant|
	%b First Name:
	= tenant.first_name
	%br
	%b Last Name:
	= tenant.last_name
	%br
	%b Email:
	= tenant.email
	%br
	%b Phone Number:
	= tenant.phone_number
	%br
	%b Apartment:
	= tenant.apartment
	%br
	= link_to "Total no of Issues:"
	= tenant.issues.count
	%br
	%hr














