= @building.street
= @building.postal_code
= @building.city
= @building.country





= link_to "Total tenants in the Building:"
= @building.tenants.count
%br
%b Total issues in the Building:
= @building.issues.count
%br
%b Done Issues :
= @building.no_of_done_issues
%br
%b New Issues :
= @building.no_of_new_issues
%br
%b Average time for the compleetion of an Issue :
= @building.avg_time_for_completion
%br
%b Average rating of a Service by Tenant :
= @building.avg_rating
%b Days
%hr
- @building.issues.each do |issue|
	= link_to "Title :", issue_path
	= issue.title
	%br
	%br
	%b Message :
	= issue.message
	%br
	%b Tenant :
	= issue.tenant.first_name
	%br
	%b Apartment :
	= issue.tenant.apartment
	%br
	%b Complete Date :
	= issue.complete_date
	%br
	%b Status :
	= issue.status
	%br
	%b Rating :
	= issue.rating
	%hr













