.row
	%div{class: "col-lg-12 heading"}
		%h1.page-header
			%i.ec-list
			Issues

.row
	%div{class: 'col-lg-2 col-md-4 col-sm-6 col-xs-12'}
		%div{class: 'tile-stats b brall mb25'}
			= link_to '' do
				.tile-stats-icon
					%i{class: 'ec-info color-red'}
				.tile-stats-content
					.tile-stats-number= @building.unresolved_issues.count
					.tile-stats-text Pending issues
				.clearfix
	%div{class: 'col-lg-2 col-md-4 col-sm-6 col-xs-12'}
		%div{class: 'tile-stats b brall mb25'}
			= link_to '' do
				.tile-stats-icon
					%i{class: 'ec-clock color-teal'}
				.tile-stats-content
					.tile-stats-number ??
					.tile-stats-text Average response time
				.clearfix
	%div{class: 'col-lg-2 col-md-4 col-sm-6 col-xs-12'}
		%div{class: 'tile-stats b brall mb25'}
			= link_to '' do
				.tile-stats-icon
					%i{class: 'ec-heart color-pink'}
				.tile-stats-content
					.tile-stats-number WTF
					.tile-stats-text Some aditional shit
				.clearfix

.row
	.col-lg-3
		= render @issues
