!!!
%html
	%head
		%title PropMan
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags

	%body

		#top.landing-intro{role: 'main'}
			.container
				%header{class: 'header row'}
					%div{class: 'col-md-6 col-sm-12 text-center'}
						.logo
							= link_to root_path do
								/ = image_tag
								%p{class: 'slogan hidden-sm hidden-xs'}
									Communication
									%br Easy and Fast
					%div{class: 'col-md-6 col-sm-12'}
						%nav
							%ul
								%li= link_to 'Sign up / Login', new_tenant_session_path, class: 'btn btn-white btn-alt'

				%div{class: 'intro-slogan text-center animated fadeInDown'}
					%h1
						Get Your Issues Resolved
						%br
						%strong Instantly!
					%p
						%strong Communication Tool between Tenants and Landlords
						%br.hidden-xs User Friendly
						%strong Very Powerful
					= image_tag 'profile.png', class: 'img-responsive center-block center-block'

			.description-bar
				%div{class: 'container text-center'}
					%p Perfect Solution for Tenants, Property Managers and Landlords
			= link_to '#build-with-love', class: 'scrollTo' do
				%p.sroll-down
					= image_tag 'scroll_down.png'

		#features.section-features
			%section{id: 'build-with-love clean-code', class: 'clean-code features-row'}
				.container
					.row
						%div{class: 'col-md-8 col-sm-8'}
							= image_tag 'profile_2.png', class: 'img-responsive center-block'
						%div{class: 'col-md-4 col-sm-4'}
							%h3.section-header Easy to Use
							%p Get More Done Every Day.

					%div{class: 'col-md-12 pt25 pb25 mt25'}
						= link_to '#give-a-try', class: 'scrollTo' do
							%p.sroll-down
								= image_tag 'scroll_down.png'

		#give-a-try.give-a-try
			.container
				%div{class: 'text-center color-red'}
					%h1 Get it Today
				%div{class: 'row mt50 mb50'}
					%div{class: 'col-md-12 text-center'}
						= link_to 'Register', new_tenant_session_path, class: 'btn btn-lg btn-danger uppercase'

		%footer#footer
			.container
				%div{class: 'row mt50 mb50'}
					%div{class: 'col-md-12 footer-links'}
						= link_to 'Sign up', new_tenant_session_path, class: 'goTo'
						= link_to 'Register', new_tenant_session_path, class: 'goTo'
						= link_to 'Back to Top', '#top', class: 'back-to-top'
						%p &copy; 2014 Hassan & Vladimir. All Rights Reserved



